html {
    position: relative;
    min-height: 100%;
}

 body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 25px;
    background-image: url("../imgs/OWLS_1996.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
    
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #fff;
}

a {
    text-decoration: none;
}
.btn-primary,.reset{
	background-color: #313477;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #202364;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

.thisChoice:hover{
	background-color: #202364;
	color: white;
	padding: 10px;
}

#gif{
	margin: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer */
    height: 60px;
    background-color: #341c50;
    text-align: center;
    margin-top: 5%;
    color: #eabafa;
  }

